<div class="panel panel-default">
  <div class="panel-body">
    <form
      id="event-edit"
      (ngSubmit)="onSubmitEvent(eventForm)"
      #eventForm="ngForm"
    >
      <div class="row">
        <div class="col-sm-12 form-group">
          <div>
            <label class="form-group" for="name">Event Name:</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              size="120"
              max="120"
              [ngModel]="event?.name"
              #name="ngModel"
            />
          </div>
          <div>
            <label class="form-group" for="date">Date:</label>
            <input
              type="date"
              id="date"
              name="date"
              class="form-control"
              [ngModel]="event?.date"
              #date="ngModel"
            />
          </div>
          <div>
            <label for="time">Time:</label>
            <input
              type="time"
              id="time"
              name="time"
              class="form-control"
              [ngModel]="event?.time"
              #time="ngModel"
            />
          </div>
          <div>
            <!-- <label for="days">Is event longer than 1 day? </label> -->
            <!-- <input type="checkbox" name="days" id="days" ngModel="days" /> -->
            <div ngShow="days">
              <label for="duration">Duration:</label>
              <input
              type="date"
              id="duration"
              name="duration"
              class="form-control"
              [ngModel]="event?.duration"
              #duration="ngModel"
              />
            </div>
          </div>

          <div>
            <label for="location">Location:</label>
            <input
              type="text"
              id="location"
              name="location"
              class="form-control"
              [ngModel]="event?.location"
              #location="ngModel"
            />
          </div>

          <div>
            <label for="details">Details:</label>
            <textarea
              id="details"
              name="details"
              class="form-control"
              [ngModel]="event?.details"
              #details="ngModel"
            ></textarea>
          </div>

          <div>
            <label for="belongsTo">Belongs to:</label>
            <select
              type="text"
              id="belongsTo"
              name="belongsTo"
              class="form-control"
              [ngModel]="event?.belongsTo"
              #belongsTo="ngModel"
            >
              <option
                default="Select a family"
                *ngFor="let family of familyList"
                [value]="family._id"
              >
                {{ family.name }}
              </option>
            </select>
          </div>

          <div id="unableToAdd" class="alert alert-danger" hidden></div>
          <div>
            <label for="members">Members:</label>
            <select
              id="members"
              name="members"
              multiple
              class="form-control"
              [ngModel]="event?.members"
              #members="ngModel"
            >
              <option *ngFor="let members of memberList" [value]="members._id">
                {{ members.name }}
              </option>
            </select>
          </div>
          <hr>
          <button type="submit" class="form-control btn btn-outline-success">
            Submit
          </button>
          <button type="button" class="form-control btn btn-outline-danger"(click)="onDeleteEvent()">Delete</button>

        </div>
      </div>
    </form>
  </div>
</div>
