
<div class="container" style="position: sticky; top: 7em">
  <div class="card">
    <div class="card-header">
      <h3>Details</h3></div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Name</th>
            <td>{{ event?.name }}</td>
          </tr>
          <tr>
            <th>Date</th>
            <td>{{ event?.date | date : "short" }}</td>
          </tr>
          <tr>
            <th>Time</th>
            <td>{{ event?.time }}</td>
          </tr>
          <tr>
            <th>Duration</th>
            <td>{{ event?.duration | date : "short" }}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>{{ event?.location }}</td>
          </tr>
          <tr>
            <th>Details</th>
            <td>{{ event?.details }}</td>
          </tr>
          <tr>
            <th>Family</th>
            <td *ngIf="event.belongsTo">{{ event.belongsTo?.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card">
      <a
    [routerLink]="['edit']"
    style="cursor: pointer"
    class="btn btn-outline-primary"
    >Edit</a
    >
    <a style="cursor: pointer" class="btn btn-outline-danger" (click)="onDelete()"
    >Delete</a
    >
    </div>
    <div class="card" *ngIf="event.members && event.members.length > 0">
      <div class="card-header">
        <h5>Event Members</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Names</th>
            </tr>
          </thead>
          <tbody *ngFor="let member of event.members">
            <tr>
              <td>{{ member.name }}</td>
            </tr>

            <!-- Add more members if needed -->
          </tbody>
        </table>

      </div>

  </div>
</div>
